body, html {
    padding: 0;
    margin: 0;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

header {
    width: 100%;
    height: 600px;
    background-color: #87509c;
    position: relative;
}

.nav {
    width: 1035px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 59px;
    z-index: 1;
}

.navbar {
    display: inline;
    list-style: none;
    position: relative;
    float: right;
}

.nav img {
    position: relative;
    top: 10px;
}

.navbar li {
    display: inline-block;
    margin-left: 25px;
}

.navbar li a {
    color: #efe8f2;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar li a:focus,
.navbar li a:hover {
    background-color: #643a79;
    border-radius: 5px;
}

.hamburger {
    background-color: transparent;
    border: none;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: 20px;
    display: none;
}

.hamburger:focus,
.hamburger:hover {
    color: #dddddd;
    cursor: pointer;
}

.sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
}

.sticky .navbar li a:focus,
.sticky .navbar li a:hover {
    background-color: #000000;
    color: #d3d3d3;
}

@media only screen and (max-width: 1040px) {
    .nav {
        width: 100%;
    }
}

@media only screen and (max-width: 681px) {
    .hamburger {
        display: block;
    }
    
    .navbar li {
        display: block;
        display: none;
    }
    
    .navbar {
        width: 100%;
        text-align: center;
        background-color: rgba(0,0,0,0.8);
    }
    
    .sticky .navbar {
        background-color: transparent;
    }
    
    ul.responsive.navbar li {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .navbar li a:focus,
    .navbar li a:hover {
        background-color: #000000;
        color: #d3d3d3;
    }
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-content p {
    font-size: 42px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    color: #f7f3ea;
    width: 910px;
    text-align: center;
}

.header-content button {
    background-color: #eb7d4b;
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 25px 100px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
}

.header-content button:focus,
.header-content button:hover {
    background-color: #da6c3a;
    cursor: pointer;
}

@media only screen and (max-width: 926px) {
    .header-content p {
        width: 100%;
    }
    
    .header-content {
        width: 100%;
    }
}

@media only screen and (max-width: 498px) {
    .header-content p {
        font-size: 30px;
    }
}

@media only screen and (max-width: 360px) {
    .header-content button {
        padding: 0;
        width: 80%;
        height: 70px;
    }
}

.services {
    width: 100%;
    min-height: 780px;
    background-color: #17c2a4;
}

.services-container {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    position: relative;
}

.services-container h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.services-container h2::after {
    content: "";
    border: 3px solid #14a58c;
    display: block;
    width: 90px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}

.services-container p {
    margin-top: -5px;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    width: 590px;
    text-align: center;
}

.services-container-blocks {
    margin-top: 60px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.services-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-block img {
    padding-bottom: 20px;
}

.services-block h3 {
    font-size: 24px;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.services-block p {
    width: 230px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
}

@media only screen and (max-width: 606px) {
    .services-container p {
        width: 100%;
    }
}

.team {
    background-color: #e7f1f8;
    width: 100%;
    min-height: 915px;
}

.team-container {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.team-container h2 {
    font-size: 40px;
    color: #3c4761;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}

.team-container h2::after {
    content: "";
    border: 3px solid #c8d9e5;
    display: block;
    width: 90px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}

.team-container p {
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    color: #535e75;
    font-weight: 600;
    margin-top: -5px;
    text-align: center;
}

.team-container-blocks {
    margin-top: 60px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.team-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.team-block h3 {
    font-size: 24px;
    color: #27283d;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.team-block p:nth-of-type(1) {
    margin-top: -25px;
    font-size: 18px;
    color: #79d0ee;
    font-family: 'Titillium Web', sans-serif;
}

.team-block p:nth-of-type(2) {
    width: 220px;
    color: #535e75;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}

.team-block-socials a {
    text-decoration: none;
}

.team-block-socials a:focus .bg,
.team-block-socials a:hover .bg {
    color: #acc0cd;
}

.bg {
    color: #bdd1df;
}

.icon {
    color: #ffffff;
}

.skills {
    width: 100%;
    min-height: 655px;
    background-color: #ffffff;
    padding-bottom: 15px;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 100px;
}

.skills-container h2 {
    font-size: 40px;
    color: #3c4761;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}

.skills-container h2::after {
    content: "";
    border: 3px solid #c8d9e5;
    display: block;
    width: 90px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}

.skills-container p {
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    color: #535e75;
    font-weight: 600;
    margin-top: -5px;
    text-align: center;
    width: 570px;
}

.skills-container-blocks {
    margin-top: 60px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.skills-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills-block h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    color: #3c4761;
    text-transform: uppercase;
}

@media only screen and (max-width: 586px) {
    .skills-container p {
        width: 100%;
    }
}

.portfolio {
    width: 100%;
    height: 110%;
    background-color: #ffdd99;
}

.portfolio-container {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-container h2 {
    font-size: 40px;
    color: #393939;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}

.portfolio-container h2::after {
    content: "";
    border: 3px solid #e5c37f;
    display: block;
    width: 90px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}

.portfolio-container p {
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    color: #534f46;
    font-weight: 600;
    margin-top: -5px;
    text-align: center;
    width: 570px;
}

.simplefilter {
    padding: 0;
    margin-bottom: 50px;
}

.simplefilter li {
    display: inline-block;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ebc985;
    color: #393939;
    margin-left: 5px;
}

.simplefilter li.active {
    background-color: #ffffff;
}

.filter {
    margin-left: auto;
    margin-right: auto;
    width: 1130px;
    position: relative;
    bottom: 50px;
    padding-bottom: 100px;
}

.filtr-item p {
    padding-top: 15px;
    font-size: 24px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: #393939;
    text-transform: uppercase;
    position: relative;
    bottom: 20px;
}

.filtr-item img {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
}

.button-portfolio {
    position: relative;
    bottom: 140px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    width: 320px;
    height: 80px;
    background-color: #17c2a4;
    color: white;
    border-radius: 5px;
    border-bottom: 5px inset #14a58c !important;
    border: 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.button-portfolio:focus,
.button-portfolio:hover {
    background-color: #06b1a3;
}

@media only screen and (max-width: 1146px) {
    .filter {
        width: 550px;
    }
}

@media only screen and (max-width: 586px) {
    .filtr-item img {
        width: 95%;
        height: 100%;
        padding: 0;
        margin-left: 10px;
    }
    
    .portfolio-container p {
        width: 100%;
    }
    
    .filter {
        width: 100%;
    }
    
    .simplefilter {
        padding-bottom: 30px;
    }
    
}

@media only screen and (max-width: 404px) {
    .simplefilter {
        width: 80%;
        padding-bottom: 30px;
    }
    
    .simplefilter li {
        margin-bottom: 10px;
        display: block;
        text-align: center;
        padding: 10px
    }
}

@media only screen and (max-width: 336px) {
    .button-portfolio {
        width: 100%;
    }
}

.testimonials {
    min-height: 850px;
    width: 100%;
    background-color: #d74680;
}

.testimonials-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials-container h2 {
    padding-top: 80px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.testimonials-container p {
    position: relative;
    bottom: 25px;
    font-size: 18x;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    padding-bottom: 30px;
}

.testimonials-container-blocks {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.testimonials-block {
    position: relative;
}

.testimonials-block img {
    float: left;
    margin-right: 10px;
}

.testimonials-block blockquote {
    font-size: 21px;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    color: #ffffff;
    width: 340px;
    float: right;
    position: relative;
    bottom: 25px;
    letter-spacing: 1px;
    font-weight: 200;
}

.testimonials-block blockquote p:first-child {
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    padding-top: 10px;
}

.testimonials-block blockquote p:last-child {
    font-size: 18px;
    font-style: normal;
    text-align: left;
    color: #ffdd99;
    position: absolute;
    bottom: 5px;
}

@media only screen and (max-width: 1519px) {
    .testimonials-container-blocks {
        width: 100%;
    }
}

@media only screen and (max-width: 542px) {
    .testimonials-block img {
        float: none;
        margin: 0;
        margin-bottom: 10px;
    }
    
    .testimonials-block {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .testimonials-block blockquote {
        text-align:center;
        width: 90%;
    }
    
    .testimonials-block blockquote p:first-child {
        text-align: center;
    }

    .testimonials-block blockquote p:last-child {
        text-align: center;
        width: 100%;
    }
}

footer {
    width: 100%;
    height: 930px;
    background-color: #3c5499;
}

.footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-container h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.footer-container h2::after {
    content: "";
    border: 3px solid #273a71;
    display: block;
    width: 90px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}

.footer-container p {
    margin-top: -5px;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    width: 80%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    margin-top: 40px;
}

.firstname {
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    width: 410px;
    height: 56px;
    background-color: #273a71;
    border: none;
    padding-left: 20px;
    font-family: 'Titillium Web', sans-serif;
}

.email {
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    width: 410px;
    height: 56px;
    margin-left: 30px;
    background-color: #273a71;
    border: none;
    padding-left: 20px;
    font-family: 'Titillium Web', sans-serif;
}

.textarea {
    border-radius: 5px;
    color: #ffffff;
    padding-top: 20px;
    font-size: 18px;
    margin-top: 30px;
    width: 870px;
    height: 200px;
    background-color: #273a71;
    border: none;
    padding-left: 20px;
    font-family: 'Titillium Web', sans-serif;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #ffffff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #ffffff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #ffffff;
}

.button-footer {
    margin-top: 60px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    width: 320px;
    height: 80px;
    background-color: #30bae7;
    color: white;
    border-radius: 5px;
    border-bottom: 5px inset #299ec5 !important;
    border: 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.button-footer:focus,
.button-footer:hover {
    background-color: #20aad6;
}

.footer-socials {
    width: 100%;
    min-height: 112px;
    background-color: #344b8e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-socials ul {
    padding: 0;
    height: 100%;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-socials a {
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}

.footer-socials a:focus,
.footer-socials a:hover {
    color: #30bae7;
}

@media only screen and (max-width: 1500px) {    
    .email {
        margin: 0;
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    
    .firstname {
        width: 100%;
        text-align: center;
    }
    
    .textarea {
        text-align: center;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 681px) {
    form {
        width: 90%;
    }
}