body {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 600px;
    background-color: #87509c;
    position: relative;
}

.nav {
    width: 1035px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 59px;
    z-index: 1;
}

.nav ul {
    display: inline;
    list-style: none;
}

.nav ul li {
    display: inline-block;
}

.nav-options {
    position: absolute;
    right: 0;
    top: 7px;
}

.nav-options li a {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}   

.nav-options li a:focus,
.nav-options li a:hover {
    background-color: #643a79;
    border-radius: 10px;
}

.sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
}

.sticky .nav-options li a:focus,
.sticky .nav-options li a:hover {
    background-color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #d3d3d3;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

.nav li a {
    color: #efe8f2;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
}

.hamburger {
    display: none;
    background-color: transparent;
    border: none;
    color: #ffffff;
}

.hamburger:focus,
.hamburger:hover {
    color: #dddddd;
    cursor: pointer;
}

.services {
    width: 100%;
    height: 750px;
    background-color: #17c2a4;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-content p {
    font-size: 42px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    color: #f7f3ea;
    width: 910px;
    text-align: center;
}

.header-content button {
    background-color: #eb7d4b;
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 25px 100px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
}

.header-content button:focus,
.header-content button:hover {
    background-color: #da6c3a;
    cursor: pointer;
}

@media only screen and (max-width: 1052px) {
    .nav {
        width: 100%;
    }
}

@media only screen and (max-width: 932px) {
    .header-content p,
    .header-content {
        width: 100%;
    }
}

@media only screen and (max-width: 715px) {
    .nav ul li {
        display: block;
    }
    
    .logo {
        position: absolute;
        top: 0;
        left: 15px;
    }
    
    .nav-options {
        left: 0;
        text-align: center;
        display: none;
        z-index: 1;
        top: 40px;
        background-color: rgba(0,0,0,0.8);
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    .nav-options li a:focus,
    .nav-options li a:hover {
        background-color: #000000;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #d3d3d3;
    }   
    
    .hamburger {
        display: block;
        position: absolute;
        top: 10px;
        right: 15px;
    }
    
    .sticky {
        height: 45px;
    }
}

@media only screen and (max-width: 408px) {
    .header-content p {
        font-size: 30px;
    }
    
    .header-content button {
        width: 100%;
        padding: 30px 0;
    }
}